<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/resturant</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.connection.pool_size">1</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>

       <mapping class="resturant.model.entity.Customer"/>
       <mapping class="resturant.model.entity.Resturant"/>
       <mapping class="resturant.model.entity.Food"/>
        <mapping class="resturant.model.entity.Menu"/>
        <mapping class="resturant.model.entity.Address"/>
       <mapping class="resturant.model.entity.Orders"/>

    </session-factory>
</hibernate-configuration>
